html {
    font-size: 100%;
}

@media screen and (min-width: 1200px) {

    /* 데스크탑 */
    html {
        font-size: 112.5%;
    }

    .pc_card {
        display: block;
    }

    .mobile_card {
        display: none;
    }
}

@media screen and (max-width: 1199px) {

    /* 태블릿 디바이스 */
    html {
        font-size: 100%;
    }

    .pc_card {
        display: none;
    }

    .mobile_card {
        display: block;
    }
}

@media screen and (min-width: 992px) {

    /* 네비바 확장 버전 */
    .navbar-brand {
        padding: 0;
    }

    html {
        font-size: 93.8%;
    }
}

@media screen and (max-width: 991px) {

    /* 네비바 단축 버전 */
    .navbar-brand {
        padding-right: 1rem;
        padding-bottom: 0.5rem;
    }

    html {
        font-size: 87.5%;
    }
}

@media screen and (max-width: 768px) {

    /* 모바일 디바이스 X */
    html {
        font-size: 75%;
    }

    .pc_card {
        display: none;
    }

    .mobile_card {
        display: block;
    }
}

@media screen and (max-width: 540px) {

    /* 가장 작은 디바이스 */
    html {
        font-size: 62.5%;
    }

    .pc_card {
        display: none;
    }

    .mobile_card {
        display: block;
    }
}

@media screen and (max-width: 375px) {

    /* 갤럭시 폴드 */
    html {
        font-size: 56.3%;
    }

    .pc_card {
        display: none;
    }

    .mobile_card {
        display: block;
    }
}

@media screen and (max-width: 280px) {

    /* 갤럭시 폴드 */
    html {
        font-size: 37.5%;
    }

    .pc_card {
        display: none;
    }

    .mobile_card {
        display: block;
    }
}

body {
    background-color: #112D4E;
}

nav {
    background-color: #3F72AF;
}

.container {
    width: 40rem;
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.input-group button,
.input-group input {
    font-size: 1.5rem;
}

.accordion-collapse {
    transition-property: all;
    transition-duration: 1s;
}

.main-box {
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner-box {
    width: 100%;
    height: 38rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my_font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

#page-title {
    font-size: 8rem;
    transform: rotate(0.04deg);
}

#page-comment {
    font-size: 1.5rem;
    transform: rotate(0.04deg);
}

.form-control {
    border: none;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
}

.accordion-button {
    padding: 0;
}

.accordion-body a,
.fw-bold {
    font-size: 1.5rem;
}

.lead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.thumbnail-img {
    width: 33.3%;
}

.btn_scroll {
    width: 4rem;
    position: fixed;
    top: 4.5rem;
    right: 0.5rem;
    z-index: 999;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#btn_top,
#btn_down {
    padding: 0.3rem;
    font-size: 0.7rem;
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #424649;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

.foot {
    bottom: 0;
    padding-top: 10rem;
}

.footer-text {
    width: 50%;
    font-size: 1rem;
}

.footer-icon {
    width: 50%;
}

#popup-title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
}

#close-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.transparent {
    background-color: transparent;
    border: none;
}

#label-close-check {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    transform: none;
    font-size: 0.8rem;
}

#label-close-btn {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 1.6rem;
}

#label-close-btn:hover {
    color: #f27474;
}

#label-close-btn>input {
    position: absolute;
    padding: 0;
}

#label-close-check:hover {
    color: #f27474;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}